.king {
	border: blue 2px solid; 
	margin: 0 auto;
	width: 960px;
	height:238px;
}

.contactone{
	width:320px;
	height:238px;
	border: black 2px solid ;
	float:left ;

}
ul {
	text-decoration:none;
}


 .name .email {
float:left;


}


label{
float: left;
}

 #name {
	width: 100px;
	float:left ;
	clear:left ;

}

#last {
width :143px;
float: left ;
clear: left;
}

.email{
	float:left ;
	padding:20px;
}

#mail{
	float: left ;
}


.contacttwo{
width:320px;
border: red 2px solid ;
float: left;
}

.contactthree{
	width:309px ;
	float:right ;
	border: brown 2px solid ;
}


/*
**********************************88
*=giving
*******************************88
*/

.give{
	width: 960px;
	border: 2px solid #999;
	margin: 0 auto;
}


.give li {
	display: inline;

}

/*
*****************************8
*=church logo 
********************************
*/


.church {
	width: 960px;
	margin: 0 auto;
	border: red 2px solid ;

}

.church li {
	display: inline;
}

/*
******************************888
*=count down
******************************8888
*/


.time {
	width:960px;
	margin: 0 auto;
	border: 2px solid #999;
}


/*
********************************
*=map
*********************************8
*/


.map {
	width: 960px; 
	margin: 0 auto;
	border: green 2px solid ;
}

/*
***********************************
*= previus service
********************************88888
*/

.message{
	width:960px;
	margin: 0 auto;
	border: yellow 2px solid ;
}

/*
***********************************888
*=updates
*************************************8
*/

.updates{
	width: 960px;
	margin: 0 auto;
	border: azure 2px solid ;
}

/*
***********************************888
*=footer
**********************************
*/


.footer {
	width: 960px;
	margin: 0 auto; 
	

	

}
.feet {
	
	float: left;
	width:480px;
	

}

.feet  li {
	display: inline;
	

}



.copyright {
	width: 480px;
	float: right;
	text-align:right;


}





















